@charset "UTF-8";
/*
*
* リセット
*
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, dl, dt, dd, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: inherit;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

label {
  margin-bottom: 1px;
}

a {
  text-decoration: none;
  color: #505050;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
}

input, select, textarea {
  padding-left: 0.5em;
  font-size: 16px !important;
}

/* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
figure {
  margin: 0;
}

.container {
  padding: 0 !important;
}

button {
  padding: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button::-webkit-search-decoration {
  display: none;
}

button:focus {
  outline-offset: -2px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6y3i5o");
  src: url("../fonts/icomoon.eot?#iefix6y3i5o") format("embedded-opentype"), url("../fonts/icomoon.woff?6y3i5o") format("woff"), url("../fonts/icomoon.ttf?6y3i5o") format("truetype"), url("../fonts/icomoon.svg?6y3i5o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  display: inline-block;
  content: url(../img/sns_face.svg);
  width: 20px;
  height: 40px;
}

.icon-twitter:before {
  display: inline-block;
  content: url(../img/sns_tw.svg);
  width: 39px;
  height: 31px;
}

.icon-hatebu:before {
  display: inline-block;
  content: url(../img/sns_hatebu.svg);
  width: 33px;
  height: 27px;
}

.icon-google-plus:before {
  display: inline-block;
  content: url(../img/sns_google.svg);
  width: 33px;
  height: 33px;
}

.icon-line:before {
  display: inline-block;
  content: url(../img/sns_line.svg);
  width: 39px;
  height: 37px;
}

/* CSS */
/* 回り込み解除のためのクラス */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* サークルのスタイル */
.sns_circle {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 4px;
  border-radius: 50%;
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Webフォントに関する指定 */
.sns_circle span {
  position: absolute;
  padding: 10px;
  font-size: 30px;
  color: #FFF;
  /* 文字の色 */
}

@media (max-width: 992px) {
  .sns_circle span {
    top: -5px;
    left: -1px;
  }
}

.sns_circle span:before {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* リンク領域をブロック全体に */
.sns_circle a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-indent: -999px;
  color: #FFF;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  /* 文字の色 */
}

/* マウスオーバー */
.sns_circle:hover span:before {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/* 横幅を300pxに固定して真ん中に表示 */
ul.circle_group {
  list-style: none;
  padding: 0;
}

/*  インラインSVG対応 */
.hatsukoi__cntSns .sns__ico {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  fill: black;
  display: block;
  transition: all 0.25s;
  margin: 0 auto;
}

.hatsukoi__cntSns .sns__ico--facebook {
  width: 11px;
  height: 27px;
}

.hatsukoi__cntSns .sns__ico--facebook:hover {
  fill: #265a96;
}

.hatsukoi__cntSns .sns__ico--twitter {
  width: 22px;
  height: 18px;
}

.hatsukoi__cntSns .sns__ico--twitter:hover {
  fill: #00acec;
}

.hatsukoi__cntSns .sns__ico--hatebu {
  width: 19px;
  height: 15px;
}

.hatsukoi__cntSns .sns__ico--hatebu:hover {
  fill: #006fbb;
}

.hatsukoi__cntSns .sns__ico--google-plus {
  width: 19px;
  height: 19px;
}

.hatsukoi__cntSns .sns__ico--google-plus:hover {
  fill: #dd4b39;
}

.hatsukoi__cntSns .sns__ico--line {
  width: 22px;
  height: 21px;
}

.hatsukoi__cntSns .sns__ico--line:hover {
  fill: #2cbf13;
}

.hatsukoi__cntSns.is-white .sns__ico {
  fill: white;
}

.hatsukoi__cnt--footerShare .sns_circle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hatsukoi__cnt--footerShare .sns__ico {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  fill: black;
  display: block;
  transition: all 0.25s;
  margin: 0 auto;
}

.hatsukoi__cnt--footerShare .sns__ico:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.hatsukoi__cnt--footerShare .sns__ico--facebook {
  width: 20px;
  height: 39px;
}

.hatsukoi__cnt--footerShare .sns__ico--facebook:hover {
  fill: #265a96;
}

.hatsukoi__cnt--footerShare .sns__ico--twitter {
  width: 33px;
  height: 27px;
}

.hatsukoi__cnt--footerShare .sns__ico--twitter:hover {
  fill: #00acec;
}

.hatsukoi__cnt--footerShare .sns__ico--hatebu {
  width: 33px;
  height: 27px;
}

.hatsukoi__cnt--footerShare .sns__ico--hatebu:hover {
  fill: #006fbb;
}

.hatsukoi__cnt--footerShare .sns__ico--google-plus {
  width: 33px;
  height: 33px;
}

.hatsukoi__cnt--footerShare .sns__ico--google-plus:hover {
  fill: #dd4b39;
}

.hatsukoi__cnt--footerShare .sns__ico--line {
  width: 39px;
  height: 31px;
}

.hatsukoi__cnt--footerShare .sns__ico--line:hover {
  fill: #2cbf13;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

@media (max-width: 992px) {
  body {
    position: relative;
    overflow: visible;
    visibility: visible;
  }
}

.hatsukoi {
  /* #pageNav
--------------------------- */
  /* #pageDown
--------------------------- */
}

.hatsukoi__info {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: -50%;
  line-height: 1.7;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  z-index: 999;
  opacity: 1;
}

@media (max-width: 992px) {
  .hatsukoi__info {
    position: relative;
    width: 100%;
    left: 0;
    line-height: 1.5;
    text-align: left;
    padding: 10px 5px;
  }
}

.hatsukoi__info strong {
  font-size: 1.1em;
}

@media (max-width: 992px) {
  .hatsukoi__info strong {
    font-size: 1em;
  }
}

.hatsukoi__info a {
  color: #f08300;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.hatsukoi__info a:hover {
  opacity: 0.5;
}

@-webkit-keyframes infoAnime {
  0% {
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    opacity: blur(0);
  }
}

@keyframes infoAnime {
  0% {
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    opacity: blur(0);
  }
}

.hatsukoi__background {
  background: #fff url("../img/left_bg.png") no-repeat right 50%/cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  -webkit-filter: sepia(100%) contrast(74%);
  filter: sepia(100%) contrast(74%);
}

@media (max-width: 992px) {
  .hatsukoi__background {
    width: 100vw;
    margin-left: -15px;
  }
}

.hatsukoi__ttl {
  background: url("../img/left_logo_01.svg") calc(50% + (33px / 2)) 50%/216px no-repeat;
  width: 280px;
  height: 276px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - (276px / 2));
  left: calc(50% - (280px / 2));
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 8px solid #fff;
  -webkit-transition: background 1.5s;
  -o-transition: background 1.5s;
  transition: background 1.5s;
}

.hatsukoi__ttl.lastCnt {
  background: url("../img/left_logo_02.svg") 50% 50%/180px no-repeat;
}

.hatsukoi__ttl.lastCnt img {
  opacity: 0;
}

.hatsukoi__ttl img {
  width: 37px;
  height: 36.5px;
  position: relative;
  top: 10px;
  -webkit-animation: heart 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  animation: heart 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  30% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  30% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.hatsukoi__right {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -15px;
}

@media (max-width: 992px) {
  .hatsukoi__right {
    left: 15px;
  }
}

.hatsukoi__cnt {
  height: 100vh;
  width: calc(50% + 15px);
  position: relative;
  overflow: hidden;
}

@media (max-width: 992px) {
  .hatsukoi__cnt {
    width: 100%;
  }
}

.hatsukoi__cnt.is-transparent {
  opacity: 0;
}

@media (max-width: 992px) {
  .hatsukoi__cnt.is-transparent {
    opacity: 1;
  }
}

.hatsukoi__cntBg {
  width: 50%;
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0 15px;
  background: url("../img/right_bg.svg") 50% 50%/55% 55% no-repeat;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-animation: cntBgAnime 1s cubic-bezier(0.385, 0.065, 0.525, 1) 0s infinite alternate;
  animation: cntBgAnime 1s cubic-bezier(0.385, 0.065, 0.525, 1) 0s infinite alternate;
}

@media (max-width: 768px) {
  .hatsukoi__cntBg {
    background: url("../img/right_bg.svg") 50% 50%/60% 60% no-repeat;
  }
}

@media (max-width: 576px) {
  .hatsukoi__cntBg {
    background: url("../img/right_bg.svg") 50% 50%/90% 90% no-repeat;
  }
}

@-webkit-keyframes cntBgAnime {
  0% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  25% {
    -webkit-transform: translate3d(2px, 2px, 0);
    transform: translate3d(2px, 2px, 0);
  }
  50% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cntBgAnime {
  0% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  25% {
    -webkit-transform: translate3d(2px, 2px, 0);
    transform: translate3d(2px, 2px, 0);
  }
  50% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 992px) {
  .hatsukoi__cntBg {
    width: 100%;
    left: 0;
  }
}

.hatsukoi__cntBg.lastCnt {
  top: -12%;
}

@media (max-width: 992px) {
  .hatsukoi__cntBg.lastCnt {
    top: 0;
  }
}

.hatsukoi__cntSns {
  position: fixed;
  right: 10px;
  top: calc(50% - 95px);
  z-index: 2;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.hatsukoi__cntSns ul {
  display: block;
  width: 50px;
  height: auto;
}

.hatsukoi__cntSns ul li {
  float: none;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.hatsukoi__cntSns ul li:first-child {
  margin-bottom: 13px;
}

@media (max-width: 992px) {
  .hatsukoi__cntSns {
    bottom: 18px;
    right: 0;
    top: auto;
    display: none;
  }
}

.hatsukoi__cntSns .icon-facebook:before {
  width: 11px;
  height: 27px;
}

.hatsukoi__cntSns .icon-twitter:before {
  width: 22px;
  height: 18px;
}

.hatsukoi__cntSns .icon-hatebu:before {
  width: 19px;
  height: 15px;
}

.hatsukoi__cntSns .icon-google-plus:before {
  width: 19px;
  height: 19px;
}

.hatsukoi__cntSns .icon-line:before {
  width: 22px;
  height: 21px;
}

.hatsukoi__cntSns.lastCnt {
  -webkit-animation: lastcntSns 0.8s ease 0s forwards;
  animation: lastcntSns 0.8s ease 0s forwards;
}

@-webkit-keyframes lastcntSns {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes lastcntSns {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.hatsukoi__cntSns.is-modalOpen {
  z-index: 0;
}

.hatsukoi__cnt:not(.activeBase) {
  opacity: 0;
}

@media (max-width: 992px) {
  .hatsukoi__cnt:not(.activeBase) {
    opacity: 1;
  }
}

.hatsukoi__cnt.activeBase {
  opacity: 1;
}

.hatsukoi__cnt.activeBase .hatsukoi__cntInner {
  opacity: 0;
  -webkit-animation: activeBaseInner 0.8s cubic-bezier(0.385, 0.065, 0.525, 1) 0.5s forwards;
  animation: activeBaseInner 0.8s cubic-bezier(0.385, 0.065, 0.525, 1) 0.5s forwards;
}

@media (max-width: 992px) {
  .hatsukoi__cnt.activeBase .hatsukoi__cntInner {
    opacity: 1;
  }
}

@-webkit-keyframes activeBaseInner {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes activeBaseInner {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.hatsukoi__cnt--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hatsukoi__cnt--top > div {
  width: 30%;
  text-align: center;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--top > div {
    width: 40%;
  }
}

.hatsukoi__cnt--top h2 {
  width: 100%;
}

.hatsukoi__cnt--top h2 span {
  opacity: 1;
}

.hatsukoi__cnt--top img {
  max-width: 320px;
  width: 100%;
}

.hatsukoi__cnt--howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/howto_desc.svg") right 15px top 15px no-repeat;
  background-size: 40px 13px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--howto {
    background: none;
  }
}

.hatsukoi__cnt--howto > div {
  width: 65%;
  max-width: 700px;
  position: relative;
  top: -60px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--howto > div {
    width: 95%;
  }
}

.hatsukoi__cnt--howto h2 {
  width: 70%;
  height: auto;
  margin: 0 auto 100px;
}

.hatsukoi__cnt--overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/overview_desc.svg") right 15px top 15px no-repeat;
  background-size: 57px 13px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--overview {
    background: none;
  }
}

.hatsukoi__cnt--overview > div {
  max-width: 700px;
  width: 75%;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--overview > div {
    width: 95%;
  }
}

.hatsukoi__cnt--flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/flow_desc.svg") right 15px top 15px no-repeat;
  background-size: 30px 15px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--flow {
    background: none;
  }
}

.hatsukoi__cnt--flow > div.spNon {
  width: 75%;
  max-width: 700px;
  text-align: center;
  position: relative;
  top: -20px;
}

.hatsukoi__cnt--flow > div.spNon img {
  width: 91%;
}

.hatsukoi__cnt--flow > div.spNon h2 {
  width: 40%;
  height: auto;
  margin: 0 auto 70px;
}

.hatsukoi__cnt--flow > div.spNon .hatsukoi__cnt--flowTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.hatsukoi__cnt--flow > div.spNon .hatsukoi__cnt--flowTxt li {
  width: 28%;
  font-size: 12px;
  text-align: justify;
  line-height: 2;
}

.hatsukoi__cnt--flow > div.pcNon {
  width: 75%;
  max-width: 700px;
  text-align: left;
  position: relative;
}

.hatsukoi__cnt--flow > div.pcNon img {
  width: 91%;
}

.hatsukoi__cnt--flow > div.pcNon h2 {
  width: 40%;
  height: auto;
  margin: 0 auto 40px;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li {
  width: 100%;
  font-size: 12px;
  text-align: justify;
  line-height: 2;
  padding-left: 35%;
  position: relative;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li img {
  width: 45px;
  display: block;
  margin: 0 0 23px 5px;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li:not(:last-child) {
  padding-bottom: 50px;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li:not(:last-child):after {
  content: url("../img/pagenav_arrow.svg");
  display: inline-block;
  position: absolute;
  bottom: 32px;
  left: 50%;
  width: 14px;
  height: 7px;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li:nth-child(1) {
  background: url("../img/flow_step01_img.svg") no-repeat 0 0/24%;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li:nth-child(2) {
  background: url("../img/flow_step02_img.svg") no-repeat 0 0/24%;
}

.hatsukoi__cnt--flow > div.pcNon .hatsukoi__cnt--flowTxt li:nth-child(3) {
  background: url("../img/flow_step03_img.svg") no-repeat 0 0/24%;
}

@media (max-width: 576px) {
  .hatsukoi__cnt--flow > div.pcNon h2 {
    width: 50%;
    margin: 0 auto 30px;
  }
  .hatsukoi__cnt--flow > div.pcNon.pcNon {
    margin-top: -10%;
  }
  .hatsukoi__cnt--flow > div.pcNon.pcNon .hatsukoi__cnt--flowTxt li img {
    margin: 0 0 12px 5px;
  }
}

.hatsukoi__cnt--buyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/buyer_desc.svg") right 15px top 15px no-repeat;
  background-size: 36px 14px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer {
    background: none;
  }
}

.hatsukoi__cnt--buyer > div {
  max-width: 700px;
  width: 75%;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer > div {
    width: 80%;
    position: relative;
    left: -10px;
    margin-top: -10%;
  }
}

.hatsukoi__cnt--buyer h2 {
  width: 30%;
  margin: 0 auto 40px;
  height: auto;
  text-align: center;
  position: relative;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer h2 {
    width: 40%;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .hatsukoi__cnt--buyer h2 {
    width: 50%;
    margin-bottom: 30px;
  }
}

.hatsukoi__cnt--buyer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer ul {
    display: block;
  }
}

.hatsukoi__cnt--buyer ul li {
  width: 46%;
  text-align: justify;
  line-height: 2;
  overflow: hidden;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer ul li {
    width: 100%;
    clear: both;
  }
  .hatsukoi__cnt--buyer ul li:first-child {
    margin-bottom: 30px;
  }
}

.hatsukoi__cnt--buyer ul li img {
  max-width: 123px;
  width: 100%;
}

.hatsukoi__cnt--buyer ul figure,
.hatsukoi__cnt--buyer ul img {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer ul figure,
  .hatsukoi__cnt--buyer ul img {
    float: left;
    width: 30%;
  }
}

.hatsukoi__cnt--buyer ul .hatsukoi__buyerData {
  width: 100%;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer ul .hatsukoi__buyerData {
    float: right;
    width: 66%;
    text-align: left;
  }
}

.hatsukoi__cnt--buyer ul .hatsukoi__buyerName {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--buyer ul .hatsukoi__buyerName {
    text-align: left;
  }
}

.hatsukoi__cnt--buyer ul p {
  font-size: 12px;
  text-align: left;
}

.hatsukoi__cnt--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/form_desc.svg") right 15px top 15px no-repeat;
  background-size: 31px 15px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--form {
    background: none;
  }
}

.hatsukoi__cnt--form > div {
  width: 80%;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--form > div {
    width: 90%;
  }
}

.hatsukoi__cnt--form h2,
.hatsukoi__cnt--form h3 {
  float: none;
  max-width: 115px;
}

.hatsukoi__cnt--form h2 {
  line-height: 1;
  margin: 0 auto 40px;
  padding: 0;
  width: 33%;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--form h2 {
    width: 50%;
    margin: 0 auto 20px;
  }
}

.hatsukoi__cnt--form h3 {
  line-height: 1;
  padding: 0;
  text-align: center;
  margin: 0 auto 20px;
}

.hatsukoi__cnt--form #tf-works {
  width: 100%;
}

.hatsukoi__cnt--form .container {
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--form .container {
    width: 100%;
  }
}

.hatsukoi__cnt--form.is-modalOpen {
  overflow: visible;
}

@-webkit-keyframes btnScrollArrowAfter {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  20% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes btnScrollArrowAfter {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  20% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

.hatsukoi__cnt--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer {
    padding-bottom: 0;
  }
}

.hatsukoi__cnt--footer > div {
  width: 100%;
  height: auto;
  top: -3.7%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 11% 0 10px;
  height: 100vh;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer > div {
    font-size: -4%;
    top: 0;
  }
}

.hatsukoi__cnt--footer > div h2 {
  font-size: 1vw;
  line-height: 2;
  text-align: center;
  position: relative;
}

.hatsukoi__cnt--footer > div h2 a {
  color: #f08300;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer > div h2 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .hatsukoi__cnt--footer > div h2 {
    font-size: 14px;
  }
}

.hatsukoi__cnt--footer > div .footer__linkImg {
  position: absolute;
  top: 80px;
  left: 200px;
  width: 177px;
}

.hatsukoi__cnt--footer > div .hatsukoi__cnt--footerShare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 20px;
  position: relative;
}

.hatsukoi__cnt--footer > div .footer__shareBox {
  margin-top: 20%;
}

.hatsukoi__cnt--footer footer {
  bottom: 0;
  width: 100%;
  padding: 0 0 10px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer footer {
    text-align: center;
  }
}

.hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress {
  overflow: hidden;
  margin: 13px 0 20px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress {
    margin-bottom: 0;
  }
}

.hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress a {
  display: block;
  float: left;
  position: relative;
  top: -2px;
  text-align: center;
}

.hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress a img {
  max-width: 146px;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress a img {
    max-width: 120px;
    margin-bottom: 20px;
  }
}

.hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress address {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress address {
    margin-bottom: 20px;
    text-align: center;
  }
}

.hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress > div {
  text-align: left;
  font-size: 12px;
  float: right;
}

@media (max-width: 992px) {
  .hatsukoi__cnt--footer footer .hatsukoi__cnt--footerAddress > div {
    text-align: center;
  }
}

.hatsukoi__cnt--footer footer small {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.hatsukoi__cntInner {
  display: block;
}

.hatsukoi__form {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.9);
  margin: 15px 0;
  padding: 30px;
}

.hatsukoi.is-modalOpen #pageDown {
  z-index: -1;
}

.hatsukoi__enlightenment {
  width: 70%;
  margin: 20px auto 0;
  font-size: 12px;
}

@media (max-width: 992px) {
  .hatsukoi__enlightenment {
    width: 100%;
    margin: 50px auto 15px;
    line-height: 2;
  }
}

.hatsukoi .submit_btn {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}

.hatsukoi .submit_btn button {
  background-color: transparent;
  width: 72px;
  height: 72px;
  background: url("../img/form_btn.svg") 0 0/72px 72px no-repeat;
  cursor: pointer;
}

.hatsukoi .submit_btn button.btn-warning {
  background: url("../img/form_btn_loading.svg") 0 0/72px 72px no-repeat;
}

.hatsukoi #pageNav {
  display: none;
  top: 0;
  right: 25px;
  width: 15px;
  text-align: center;
  position: fixed;
  z-index: 2;
}

.hatsukoi #pageNav ul {
  width: 15px;
  display: block;
}

.hatsukoi #pageNav ul li {
  padding-bottom: 5px;
  width: 15px;
  height: 15px;
  display: block;
  overflow: hidden;
}

.hatsukoi #pageNav ul li a {
  width: 15px;
  height: 15px;
  background: #000 no-repeat center center;
  display: block;
}

.hatsukoi #pageNav ul li.activeStage a {
  background: #f00 no-repeat center center;
}

.hatsukoi #pageDown {
  bottom: 17px;
  left: 50%;
  width: 50%;
  height: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  text-align: center;
}

.hatsukoi #pageDown a {
  margin: 0 auto;
  width: 38.466px;
  height: 40px;
  background: url("../img/pagenav_txt.svg") no-repeat center top/38.466px 14.122px;
  display: block;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.hatsukoi #pageDown a::after {
  content: url("../img/pagenav_arrow.svg");
  display: inline-block;
  width: 14px;
  height: 7px;
  position: absolute;
  bottom: 18px;
  left: calc(50% - 7px);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-animation: btnScrollArrowAfter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  animation: btnScrollArrowAfter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.hatsukoi #pageDown a:hover {
  opacity: 0.5;
}

@media (max-width: 992px) {
  .hatsukoi #pageDown {
    width: 100%;
    left: 0;
    pointer-events: none;
    display: none !important;
  }
}

@keyframes btnScrollArrowAfter {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  20% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

.pcNon {
  display: none;
}

@media (max-width: 992px) {
  .pcNon {
    display: block;
  }
}

.spNon {
  display: block;
}

@media (max-width: 992px) {
  .spNon {
    display: none;
  }
}

#pageTop {
  background-color: #ffe0f0;
  color: #fff;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
