@charset "UTF-8";
/*
*
* リセット
*
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, dl, dt, dd, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: inherit;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

label {
  margin-bottom: 1px;
}

a {
  text-decoration: none;
  color: #505050;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
}

input, select, textarea {
  padding-left: 0.5em;
  font-size: 16px !important;
}

/* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
figure {
  margin: 0;
}

.container {
  padding: 0 !important;
}

button {
  padding: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button::-webkit-search-decoration {
  display: none;
}

button:focus {
  outline-offset: -2px;
}

.wedding .topview {
  background-color: #ffefff;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wedding .topview .cherry {
  width: 67px;
}

.wedding .topview .animetion {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: DASH 4s ease-in 1s forwards;
  animation: DASH 4s ease-in 1s forwards;
}

.wedding .topview .animetion02 {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: DASH02 10s ease-in 0s forwards;
  animation: DASH02 10s ease-in 0s forwards;
}

@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@-webkit-keyframes DASH02 {
  0% {
    stroke-dashoffset: 3000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(0, 0, 0, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(0, 0, 0, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}

@keyframes DASH02 {
  0% {
    stroke-dashoffset: 3000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(0, 0, 0, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(0, 0, 0, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}

.wedding .topview .welcome {
  font-size: 1rem;
}

.wedding .topview .welcome span {
  color: #aaa;
}

.wedding .intro {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wedding .intro_ttl {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.wedding .intro_message {
  text-align: justify;
  width: 95%;
  margin-bottom: 30px;
}

.wedding .intro_cmtTtl {
  font-size: .8rem;
}

.wedding .intro_cmtTxt {
  margin-bottom: 30px;
}

.wedding .scrollBtn {
  background-color: #e791bb;
  width: 50px;
  height: 50px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: calc(50% - 25px);
  cursor: pointer;
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
}

.wedding .scrollBtn:hover {
  opacity: 0.2s;
}

.wedding .scrollBtn_arrow:after, .wedding .scrollBtn_arrow:before {
  content: '';
  background-color: #fff;
  width: 1px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-animation: ani-arrow 1s ease 3s infinite;
  animation: ani-arrow 1s ease 3s infinite;
}

@-webkit-keyframes ani-arrow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ani-arrow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes ani-arrow-color {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ani-arrow-color {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.wedding .scrollBtn_arrow:before {
  height: 15px;
}

.wedding .scrollBtn_arrow:after {
  height: 5px;
  top: -5px;
  background-color: #e791bb;
}

/*
*
* リセット
*
*/
img {
  width: 100%;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 65%;
  line-height: 2;
  color: #292b2c;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

main section {
  height: 100vh;
}

.hatsukoi__left {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

@media (max-width: 576px) {
  .hatsukoi__left {
    position: relative;
    height: 100vh;
  }
}

.hatsukoi__background {
  background: url("../img/ttl_bg.png") no-repeat 50% 50%/cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.hatsukoi__ttl {
  background: url("../img/ttl.svg") calc(50% + (33px / 2)) 50%/216px no-repeat;
  width: 280px;
  height: 276px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - (276px / 2));
  left: calc(50% - (280px / 2));
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 8px solid #fff;
}

.hatsukoi__ttl img {
  width: 37px;
  height: 36.5px;
  position: relative;
  top: 10px;
  -webkit-animation: heart 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  animation: heart 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  30% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  30% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.hatsukoi__cnt {
  width: 100%;
}

.hatsukoi__cnt--fst.is-absoluteBefore {
  top: 0;
}

.hatsukoi__cnt--fst.is-absolute {
  top: calc(100vh * 2);
}

.hatsukoi__cnt--fst > div {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -50px;
  width: 50%;
  min-width: 300px;
}

.hatsukoi__cnt--fst div > svg {
  width: 67px;
}

.hatsukoi__cnt--fst div > img {
  width: 67px;
}

.hatsukoi__cnt--fst .animetion {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: DASH 4s ease-in 1s forwards;
  animation: DASH 4s ease-in 1s forwards;
}

.hatsukoi__cnt--fst .animetion02 {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: DASH02 10s ease-in 0s forwards;
  animation: DASH02 10s ease-in 0s forwards;
}

@keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@keyframes DASH02 {
  0% {
    stroke-dashoffset: 3000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(0, 0, 0, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(0, 0, 0, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}

@-webkit-keyframes catch01 {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translate3d(2, 2, 2);
    transform: translate3d(2, 2, 2);
  }
  70% {
    background-color: #fff;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes catch01 {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translate3d(2, 2, 2);
    transform: translate3d(2, 2, 2);
  }
  70% {
    background-color: #fff;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes catch02 {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes catch02 {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes catch03 {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes catch03 {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.hatsukoi__cnt--fst h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.hatsukoi__cnt--fst h2 span {
  opacity: 1;
}

.hatsukoi__cnt--fst h2 span:nth-child(1) {
  width: 21px;
}

.hatsukoi__cnt--fst h2 span:nth-child(2) {
  width: 20px;
}

.hatsukoi__cnt--fst h2 span:nth-child(3) {
  width: 15px;
}

.hatsukoi__cnt--fst h2 span:nth-child(4) {
  width: 19px;
}

.hatsukoi__cnt--fst h2 span:nth-child(5) {
  width: 16px;
}

.hatsukoi__cnt--fst h2 span:nth-child(6) {
  width: 16.693px;
}

.hatsukoi__cnt--fst h2 span:nth-child(7) {
  width: 6.5px;
  position: relative;
  top: 9px;
}

.hatsukoi__cnt--fst h2 span:nth-child(8) {
  width: 15.003px;
}

.hatsukoi__cnt--fst h2 span:nth-child(9) {
  width: 10.53px;
}

.hatsukoi__cnt--fst h2 span:nth-child(10) {
  width: 14.274px;
}

.hatsukoi__cnt--fst h2 span:nth-child(11) {
  width: 16.25px;
}

.hatsukoi__cnt--fst h2 span:nth-child(12) {
  width: 17.161px;
}

.hatsukoi__cnt--fst h2 span:nth-child(13) {
  width: 7.15px;
  -webkit-animation: catch03 2s cubic-bezier(0.385, 0.065, 0.525, 1) 2s forwards;
  animation: catch03 2s cubic-bezier(0.385, 0.065, 0.525, 1) 2s forwards;
}

.hatsukoi__cnt--snd {
  position: relative;
  -webkit-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  transform: translateX(-150px);
}

.hatsukoi__cnt--snd.is-absoluteBefore {
  top: calc(100vh * 2);
}

.hatsukoi__cnt--snd.is-absolute {
  top: calc(100vh * 2);
}

.hatsukoi__cnt--thd {
  background-color: #ccc;
  -webkit-transform: translateX(600px);
  -ms-transform: translateX(600px);
  transform: translateX(600px);
}

.hatsukoi__cnt--four {
  background-color: #fff;
}

.hatsukoi__cnt--fifth {
  background-color: #ccc;
  opacity: 0;
}

.hatsukoi__cnt.is-fixed {
  position: fixed;
  top: 0;
  width: calc(50% - 30px);
}

@media (max-width: 576px) {
  .hatsukoi__cnt.is-fixed {
    width: calc(100% - 30px);
  }
}

.hatsukoi__form {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.9);
  margin: 15px 0;
  padding: 30px;
}

.hatsukoi .spacer:not([id]) {
  min-height: 300px;
}

footer {
  text-align: center;
  margin: 0 auto;
}
