@charset "UTF-8";
/*
*
* リセット
*
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, dl, dt, dd, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: inherit;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

label {
  margin-bottom: 1px;
}

a {
  text-decoration: none;
  color: #505050;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
}

input, select, textarea {
  padding-left: 0.5em;
  font-size: 16px !important;
}

/* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
figure {
  margin: 0;
}

.container {
  padding: 0 !important;
}

button {
  padding: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button::-webkit-search-decoration {
  display: none;
}

button:focus {
  outline-offset: -2px;
}

.wedding .l-topview {
  background-color: #ffefff;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding-top: 0;
}

.wedding .l-topview .cherry {
  width: 67px;
  margin-top: -50px;
}

.wedding .l-topview .animetion {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
}

.wedding .l-topview .animetion02 {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: DASH02 10s ease-in 0s forwards;
  animation: DASH02 10s ease-in 0s forwards;
}

.wedding .l-topview .petal-01 {
  -webkit-animation: petal02 1.5s ease-in .3s forwards;
  animation: petal02 1.5s ease-in .3s forwards;
}

.wedding .l-topview .petal-02 {
  -webkit-animation: petal02 1.25s ease-in .5s forwards;
  animation: petal02 1.25s ease-in .5s forwards;
}

.wedding .l-topview .petal-03 {
  -webkit-animation: petal02 1.5s ease-in .7s forwards;
  animation: petal02 1.5s ease-in .7s forwards;
}

.wedding .l-topview .petal-04 {
  -webkit-animation: petal02 1.5s ease-in .9s forwards;
  animation: petal02 1.5s ease-in .9s forwards;
}

.wedding .l-topview .petal-05 {
  -webkit-animation: petal02 1.5s ease-in 1.1s forwards;
  animation: petal02 1.5s ease-in 1.1s forwards;
}

@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@-webkit-keyframes petal02 {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@keyframes petal02 {
  0% {
    stroke-dashoffset: 3000;
    fill: rgba(231, 145, 187, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e791bb;
  }
}

@-webkit-keyframes DASH02 {
  0% {
    stroke-dashoffset: 3000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(0, 0, 0, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(0, 0, 0, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}

@keyframes DASH02 {
  0% {
    stroke-dashoffset: 3000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(0, 0, 0, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(0, 0, 0, 0.4);
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}

.wedding .l-topview .welcome {
  font-size: 1rem;
  width: 100%;
}

.wedding .l-topview .welcome span {
  color: #888;
  -webkit-animation: welecom-anime 3s ease-in 0s forwards;
  animation: welecom-anime 3s ease-in 0s forwards;
}

@-webkit-keyframes welecom-anime {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 300px, 0);
    transform: translate3d(0, 300px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes welecom-anime {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 300px, 0);
    transform: translate3d(0, 300px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.wedding .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 110%;
  height: auto;
}

.wedding .message img {
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

.wedding .message img.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .message_ttl {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.wedding .message_message {
  text-align: justify;
  width: 95%;
  margin-bottom: 30px;
  font-size: 13px;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  text-indent: 1em;
  line-height: 2;
}

.wedding .message_message.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .message_cmtTtl {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  padding-left: 1.5em;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}

.wedding .message_cmtTtl:before, .wedding .message_cmtTtl:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #e891bc;
  margin-right: 10px;
  position: absolute;
  top: 3px;
  left: 0;
}

.wedding .message_cmtTtl:after {
  background-color: #ffe7f3;
  width: 5px;
  height: 5px;
  top: 10px;
  left: 7px;
}

.wedding .message_cmtTxt {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  margin-bottom: 30px;
}

.wedding .message_cmtTxt.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.l-topNews {
  position: relative;
  width: 100%;
}

.l-topNews__inner {
  position: relative;
  z-index: 2;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 8.3333333333%;
}

.l-topNews__inner_l,
.l-topNews__inner_r {
  position: relative;
  z-index: 2;
  display: table-cell;
  vertical-align: top;
}

.l-topNews__inner_l {
  width: 45.454545454545455%;
  padding: 0 5%;
}

.l-topNews__inner_r {
  width: 54.545454545454545%;
}

.l-topNews__inner_button {
  position: absolute;
  z-index: 3;
  left: 8.3333333333%;
  padding-left: 4.1666666667%;
  bottom: 0;
  display: block;
}

.l-topNews__inner_button a {
  width: 100%;
}

.l-topNews__inner {
  display: block;
  table-layout: inherit;
  padding-bottom: 60px;
  padding-left: 0;
}

.l-topNews__inner_l,
.l-topNews__inner_r {
  display: block;
}

.l-topNews__inner_l {
  width: auto;
  margin-bottom: 40px;
  padding: 0 0 0 30px;
}

.l-topNews__inner_r {
  width: 100%;
  margin-bottom: 40px;
}

.l-topNews__inner_button {
  position: absolute;
  left: auto;
  right: -1px;
  bottom: 0;
}

.m-leftBorder {
  position: relative;
  width: 2px;
  height: 100%;
}

.l-topHeading__bdr {
  position: absolute;
  left: 0;
  top: 0;
}

.l-topHeading__subtitle {
  padding-bottom: 30px;
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: normal;
}

.l-topHeading__subtitle {
  padding-bottom: 15px;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.m-verticalTitle {
  font-family: "alternate-gothic-ef-notwo", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.m-verticalTitle {
  font-family: "alternate-gothic-ef-notwo", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.js-verticalTitle span {
  position: relative;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.7, 0, 1);
  -o-transition: all 0.4s cubic-bezier(0, 0.7, 0, 1);
  transition: all 0.4s cubic-bezier(0, 0.7, 0, 1);
}

.js-verticalTitle span:nth-child(odd) {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}

.js-verticalTitle span:nth-child(even) {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}

.js-verticalTitle.is-vertical0 span:nth-child(odd) {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.js-verticalTitle.is-vertical0 span:nth-child(even) {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.js-verticalTitle span.space {
  width: 20px;
}

.js-verticalTitle.is-space10 span.space {
  width: 10px;
}

.js-verticalTitle.is-space20 span.space {
  width: 20px;
}

.js-verticalTitle.is-space30 span.space {
  width: 30px;
}

.js-verticalTitle.is-space40 span.space {
  width: 40px;
}

.js-verticalTitle span.is-active {
  opacity: 1;
}

.js-verticalTitle span.is-active:nth-child(odd) {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.js-verticalTitle span.is-active:nth-child(even) {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 59.99em) {
  .js-verticalTitle span.space {
    width: 10px;
  }
  .js-verticalTitle.is-space10 span.space {
    width: 5px;
  }
  .js-verticalTitle.is-space20 span.space {
    width: 10px;
  }
  .js-verticalTitle.is-space30 span.space {
    width: 15px;
  }
  .js-verticalTitle.is-space40 span.space {
    width: 20px;
  }
}

.m-leftBorder:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.m-leftBorder:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #e791bb;
  width: 100%;
  height: 14px;
}

.l-schedule_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-schedule_time, .l-schedule_txt {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.l-schedule_time.js-show, .l-schedule_txt.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.l-schedule_time:not(:last-of-type), .l-schedule_txt:not(:last-of-type) {
  margin-bottom: 40px;
}

.l-schedule_time {
  line-height: 1;
  border-radius: 2rem;
  background-color: #e791bb;
  width: 3rem;
  height: 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.l-schedule_time:not(:last-of-type):before {
  content: '';
  width: 2px;
  height: 40px;
  background-color: #e791bb;
  display: inline-block;
  position: absolute;
  left: calc(50% - 2px);
  top: 3rem;
}

.l-schedule_txt {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: calc(100% - 3rem - 10px);
  flex-basis: calc(100% - 3rem - 10px);
  text-align: right;
  font-size: 1rem;
}

.wedding .l-meshi {
  height: auto;
}

.wedding .l-meshi.js-hide .l-menu_cnt {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-meshi h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}

.wedding .l-meshi_intro {
  margin-bottom: 20px;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.wedding .l-meshi_intro.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-meshi_txt {
  margin-bottom: 50px;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.wedding .l-meshi_txt.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-meshi_categoryTtl {
  font-size: 15px;
  width: 100vw;
  padding: 5px 15px;
  margin-left: -30px;
  position: relative;
  font-weight: bold;
  background-color: #ddd;
}

.wedding .l-meshi_categoryTtl.is-show:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.wedding .l-meshi_categoryTtl:before, .wedding .l-meshi_categoryTtl:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #333;
  position: absolute;
  right: 20px;
  top: calc(50% - 5px);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.wedding .l-meshi_categoryTtl:before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wedding .l-meshi_categoryTtl:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wedding .l-meshi_categoryTtl:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}

.wedding .l-meshi_cnt {
  margin-bottom: 30px;
  padding-top: 30px;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.wedding .l-meshi_cnt.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-meshi_store-name {
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  height: 2em;
}

.wedding .l-meshi_store-name span {
  position: absolute;
}

.wedding .l-meshi_store-name span:nth-child(1) {
  z-index: 2;
  left: 0;
  top: 0;
  font-weight: bold;
}

.wedding .l-meshi_store-name span:nth-child(2) {
  opacity: .5;
  color: #e791bb;
  top: -2px;
  left: 3px;
  font-size: 25px;
  position: absolute;
  font-family: 'Poiret One', cursive;
  z-index: 1;
}

.wedding .l-meshi_store-detail:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
}

.wedding .l-meshi_store-detail span {
  font-size: 16px;
  display: block;
  margin-bottom: 30px;
  line-height: 1.5;
}

.wedding .l-meshi_store-detail p {
  font-size: 13px;
  margin-bottom: 5px;
}

.wedding .l-meshi_store-detail a {
  color: blue;
  text-decoration: underline;
  margin-right: 1em;
}

.wedding .l-menu_eng {
  font-family: 'Dancing Script', cursive;
  font-size: 11px;
}

.wedding .l-menu_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  margin-left: -30px;
}

.wedding .l-menu_cnt li {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.wedding .l-menu_cnt li.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-menu_cnt > * {
  height: calc((100vh - 147px) / 6);
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.wedding .l-menu_cnt > *:nth-child(1), .wedding .l-menu_cnt > *:nth-child(4), .wedding .l-menu_cnt > *:nth-child(5), .wedding .l-menu_cnt > *:nth-child(8), .wedding .l-menu_cnt > *:nth-child(9), .wedding .l-menu_cnt > *:nth-child(12) {
  background-color: #afc6ca36;
}

.wedding .l-bgm {
  height: auto;
  position: relative;
}

.wedding .l-bgm.is-hide .l-bgm_sttl {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.wedding .l-bgm.is-hide .l-bgm_lists:after {
  content: 'We Are Open 14:00-';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-filter: none;
  filter: none;
  position: absolute;
  top: 0;
  left: 0%;
  font-weight: bold;
  font-size: 15px;
}

.wedding .l-bgm.is-hide .l-bgm_elem {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.wedding .l-bgmhide {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 107px;
  background-color: #fff;
}

.wedding .l-bgm_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: 30px;
  position: relative;
}

.wedding .l-bgm_sttl {
  margin-bottom: 10px;
  position: relative;
  padding-left: 1.5em;
}

.wedding .l-bgm_sttl:before, .wedding .l-bgm_sttl:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #e891bc;
  margin-right: 10px;
  position: absolute;
  top: 3px;
  left: 0;
}

.wedding .l-bgm_sttl:after {
  background-color: #ffe7f3;
  width: 5px;
  height: 5px;
  top: 10px;
  left: 7px;
}

.wedding .l-bgm_elem {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wedding .l-bgm_elem-ttl {
  font-weight: bold;
}

.wedding .l-bgm_elem-ttl:nth-of-type(4) {
  font-weight: bold;
  font-size: 9px;
}

.wedding .l-bgm_elem > span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  line-height: 1;
}

.wedding .l-bgm_elem > span:nth-of-type(1) {
  display: none;
}

.wedding .l-bgm_elem > span:nth-of-type(2) {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wedding .l-bgm_elem > span:nth-of-type(3) {
  font-size: 12px;
}

.wedding .l-bgm_elem p {
  margin-top: 10px;
  background-color: #efefef54;
  padding: 10px;
  width: 100%;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.wedding .l-bgm_elem p.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-thanks {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wedding .l-thanks_cnt {
  line-height: 2.4;
  font-size: 13px;
  padding-bottom: 40px;
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

.wedding .l-thanks_cnt.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-thanks img {
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  margin-bottom: 100px;
}

.wedding .l-thanks img.js-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wedding .l-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 5;
  opacity: 1;
}

.wedding .l-nav.is-hide {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
  opacity: 0;
}

.wedding .l-nav_elem {
  padding: 10px 15px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes nav-insert {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes nav-insert {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  50% {
    stroke-dashoffset: 2000;
    fill: rgba(231, 145, 187, 0.2);
  }
  70% {
    stroke-dashoffset: 1000;
    fill: rgba(231, 145, 187, 0.4);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.wedding .scrollBtn {
  background-color: #e791bb;
  width: 40px;
  height: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: calc(50% - 25px);
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-animation: scroll-insert 3.5s ease-in 0s forwards;
  animation: scroll-insert 3.5s ease-in 0s forwards;
}

.wedding .scrollBtn.is-hide {
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
}

@-webkit-keyframes scroll-insert {
  0% {
    -webkit-filter: blur(100px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes scroll-insert {
  0% {
    -webkit-filter: blur(100px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.wedding .scrollBtn_arrow:after, .wedding .scrollBtn_arrow:before {
  content: '';
  background-color: #fff;
  width: 1px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-animation: ani-arrow 1s ease 3s infinite;
  animation: ani-arrow 1s ease 3s infinite;
}

@-webkit-keyframes ani-arrow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ani-arrow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes ani-arrow-color {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ani-arrow-color {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.wedding .scrollBtn_arrow:before {
  height: 10px;
}

.wedding .scrollBtn_arrow:after {
  height: 5px;
  top: -5px;
  background-color: #e791bb;
}

/*
*
* リセット
*
*/
img {
  width: 100%;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 80%;
  line-height: 2;
  color: #292b2c;
  background-color: #fff;
  padding: 0;
  margin: 0;
  color: #555;
}

main section {
  padding: 50px 30px 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

main section:nth-of-type(odd) {
  background-color: #efefef3d;
}

main section:not(:first-child):before {
  content: '';
  background-color: #fffde5;
  width: 120vw;
  height: 200px;
  display: inline-block;
  position: absolute;
  left: -50px;
  top: -150px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

main section:not(:first-child):last-of-type:before {
  display: none;
}

.is-transiton-show {
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
